body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.chat-container {
    width: 40%;
    margin: auto;
    background: rgb(180, 200, 218);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

#chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 2px solid #1a1212;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
}

input {
    width: 70%;
    padding: 10px;
    background: rgb(221, 175, 100);
}

button {
    padding: 10px;
    background: rgb(5, 80, 141);
}